.breadcrumbs {
  padding: 60px 0 80px;
  &--bg{
    padding-top: 250px;
    padding-bottom: 80px;
  }
  &--bear {
    padding-top: 250px;
    padding-bottom: 0px;
  }
}

.breadcrumbs-box {
  margin-bottom: 11px;
}

.breadcrumbs-box__list {
  display: flex;
}

.breadcrumbs-box__item + .breadcrumbs-box__item {
  margin-left: 15px;
}

.breadcrumbs-box__item {
  position: relative;
  padding-left: 20px;
  &::before {
    content: '';
    position: absolute;
    left: -3px;
    width: 8px;
    height: 8px;
    bottom: 5px;
    border-bottom: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(-45deg);
  }
  &:first-child::before {
    display: none;
    padding: 0;
  }
  &:first-child {
    padding: 0;
  }
}

.breadcrumbs-box__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  position: relative;
}

.breadcrumbs-box__page {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.page-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #FFFFFF;
}


