.brewery-sec {
  background-color: #141414;
}

.brewery-first__item {
  &:first-child {
    padding-top: 15px;
    width: 38%;
  }
  &:last-child {
    width: 55%;
  }
}

.brewery-first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.brewery-first__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 25px;
  :last-of-type {
    margin-bottom: 0;
  }
}

.brewery-first__img {
  width: 100%;
  height: auto;
}

.brewery-second__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.brewery-second__title {
  // width: 70%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.brewery-second__num {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 160px;
  line-height: 77%;
  color: #FED105;
}

.brewery-second {
  display: flex;
  justify-content: space-around;
  min-height: 730px;
  height: 100%;
}

.brewery-second__coll {
  display: flex;
  flex-direction: column;
  &:nth-child(1) {
    justify-content: flex-start;
  }
  &:nth-child(2) {
    justify-content: center;
  }
  &:nth-child(3) {
    justify-content: flex-end;
  }
}

.brewery-slider {
  margin-top: 100px;
  margin-bottom: 168px;
}

.brewery-slide {
  position: relative;
}

.brewery-slide__wrapp {
  position: absolute;
  left: 24px;
  bottom: 24px;
  width: 82%;
}

.brewery-slide__title {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.brewery-slide__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
}

.about-title {
  width: 100%;
  position: relative;
  .main-slide__brew {
    top: -40px;
  }
}

.about-first {
  .brewery-first__item {
    padding: 0;
    &:first-child {
      width: 47%;
    }
  }
}

.about-first__item {
  position: relative;
  width: 47%;
}

.about-first__img {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 5;
}

.about-first__img2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.about-us-second {
  min-height: 0;
  margin-top: 100px;
  margin-bottom: 150px;
}

.about-top--brewery {
  margin-bottom: 0;
}
