.checkout-menu {
  background-color: #141414;
  background-image: url(../img/checkout-bg.svg);
  padding: 22px 0 90px;
  background-repeat: no-repeat;
  background-position: top right;
}

.checkout-box {
  display: flex;
  justify-content: space-between;
}

.checkout-item {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
}

.checkout-box__item {
  &:first-child {
    width: 73%;
  }
  &:last-child {
    width: 23%;
  }
}

.checkout-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(142, 137, 143, 0.207);
}

.checkout-top__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  svg {
    margin-right: 15px;
  }
}

.checkout-top__btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #8E898F;
  svg {
    margin-right: 10px;
  }
  &:hover {
    box-shadow: none;
  }
}

.checkout-body {
  margin-bottom: 12px;
}

.checkout-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  border-bottom: 1px solid rgba(142, 137, 143, 0.207);
}

.checkout-row__image {
  width: 94px;
  height: 76px;
  box-shadow: 0px 12px 24px -4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 28px;
}

.checkout-row__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
  box-shadow: 0px 12px 24px -4px rgba(0, 0, 0, 0.15);
}

.checkout-row__tit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout-row__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 20px;
  width: 197px;
}

.checkout-row-weight {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #8E898F;
}

.checkout-row__coll {
  display: flex;
  align-items: center;
}

.checkout-row-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.block-count__button--black, .block-count__input--black, .kdd-order-row__remove--black {
  background-color: transparent;
  color: #FFFFFF;
}

.checkout-bottom__item {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  width: 87.5%;
  margin-bottom: 90px;
  .kdd-order-row-value {
    margin-right: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &--mode {
    width: 91%;
    text-align: right;
  }
}

.checkout-widget {
  max-width: 296px;
  width: 100%;
  background-color: #fff;
  padding: 26px;
  box-shadow: 0px 24px 48px -4px rgba(31, 28, 31, 0.2);
  border-radius: 16px;
}

.checkout-widget__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 32px;
}

.checkout-widget__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.checkout-widget__list {
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 20px;
  }
}

.checkout-widget__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #231F20;
  padding-bottom: 5px;
  border-bottom: 1px solid #8E898F;
  margin-bottom: 10px;
}

.checkout-widget__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 244px;
  height: 45px;
  background: #231F20;
  border-radius: 10px;
}

.checkout-personal {
  position: relative;
  background: rgba(142, 137, 143, 0.138);
  padding: 60px 0 140px;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    background: #FED105;
    top: 0;
    left: 0;
  }
}

.personal-box {
  display: flex;
  justify-content: space-between;
}

.personal-box__item {
  &:first-child {
    width: 73%;
  }
  &:last-child {
    width: 23%;
  }
}

.personal-top {
  margin-bottom: 50px;
}

.personal-deliver {
  margin-bottom: 50px;
}

.personal-top-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 26px;
}

.personal-top__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.personal-top__label {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.personal-top__name {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8E898F;
  margin-bottom: 4px;
}

.personal-top__input {
  height: 56px;
  background: #FFFFFF;
  border: 1px solid rgba(142, 137, 143, 0.2);
  border-radius: 6px;
  padding: 0 5px;
}

.personal-top__counter {
  display: flex;
  align-items: center;
  width: 27%;
  justify-content: space-between;
}

.personal-deliver__radio {
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}

.radio + .radio {
  margin-left: 56px;
}

.personal-deliver__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.personal-deliver__name {
  font-family: Georgia;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8E898F;
  margin-bottom: 5px;
}

.personal-deliver__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  &:nth-child(1) {
    width: 50%;
    position: relative;
  }
  &:nth-child(2) {
    width: 12%;
  }
  &:nth-child(3) {
    width: 12%;
  }
  &:nth-child(4) {
    width: 12%;
  }
  &:nth-child(5) {
    width: 100%;
  }
  textarea {
    width: 100%;
    resize: none;
    border: 1px solid rgba(142, 137, 143, 0.2);
    border-radius: 6px;
    outline: none;
    padding: 20px;
  }
}

.personal-deliver__input {
  height: 56px;
  background: #FFFFFF;
  border: 1px solid rgba(142, 137, 143, 0.2);
  border-radius: 6px;
  padding: 0 5px;
}

.personal-deliver__geo {
  position: absolute;
  top: 45px;
  right: 20px;
}

.personal-pay__box {
  display: flex;
  align-items: center;
}

.personal-pay__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  width: 214px;
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  &:nth-child(2) {
    width: 310px;
  }
  &--active {
    background: #FED105;
    color: #000;
    border: none;
    font-weight: bold;
    pointer-events:none;
  }
}

.personal-pay__btn + .personal-pay__btn {
  margin-left: 15px;
}

.checkout-descr {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #FED105;
  margin-top: 10px;
}

.checkout-descr__span {
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.checkout-row__tare {
  width: 194px;
  height: 40px;
  border: 2px solid #8E898F;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  svg {
    margin-right: 5px;
  }
  &--active {
    border: 2px solid #FED105;
    pointer-events: none;
  }
}

.checkout-row__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-row--mode {
  flex-direction: column;
  align-items: initial;
}

.checkout-row__bottom {
  display: flex;
  justify-content: space-between;
  width: 58%;
  margin-left: auto;
  padding-right: 140px;
}

.checkout-row___counter {
  display: flex;
  align-items: center;

}

.tare-value {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 15px;
}
