.delivery-menu {
  background-color: #141414;
  background-image: url(../img/delivery-menu__bg.svg);
  padding: 65px 0 40px;
  background-repeat: no-repeat;
  background-position: right;
  .about-top {
    margin-top: 12px;
    margin-bottom: 40px;
  }
}

.delivery-info {
  display: flex;
}

.delivery-info__item {
  display: flex;
  align-items: flex-start;
  svg {
    margin-right: 15px;
  }
}

.delivery-info__item + .delivery-info__item  {
  margin-left: 110px;
}

.delivery-info__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #8E898F;
}

.delivery-info__text, .delivery-info__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #FFFFFF;
}

.delivery-categories {
  background-color: #000;
  padding: 25px 0;
  position: relative;
  margin-bottom: 10px;
}

.delivery-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-nav__link {
  padding: 0 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
  position: relative;
  transition: all .3s;
  &:hover {
    color: #FFD300;
  }
  &:before {
    content: '';
    width: 0;
    right: 0;
    bottom: -30px;
    position: absolute;
    background-color: #FFD300;
    height: 4px;
    transition: all .3s;
    left: auto;
  }
  &:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }
  &--active {
    color: #FFD300;
    &:before {
      content: '';
      width: 100%;
      right: 0;
      bottom: -30px;
      position: absolute;
      background-color: #FFD300;
      height: 4px;
      transition: all .3s;
      left: auto;
    }
  }
}


.delivery-body {
  padding: 45px 0  110px;
}

.delivery-breadcrumbs {
  margin-bottom: 30px;
  .breadcrumbs-box__link , .breadcrumbs-box__page {
    color: #8E898F;
  }
  .breadcrumbs-box__link::before {
    border-bottom: 2px solid #8E898F;
    border-right: 2px solid #8E898F;
  }
}

.delivery-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delivery-card {
  width: 22.5%;
  display: flex;
  height: 430px;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 16px;
  margin: 0;
  margin-bottom: 35px;
  transition: .4s;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 16px 10px rgb(0, 0, 0);
  }
}

.delivery-card__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.delivery-card__descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #8E898F;
}

.delivery-card__price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-right: 8px;
}

.delivery-card__weight {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #8E898F;
}

.delivery-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px;
}

.delivery-card__image, .delivery-card__img {
  border-radius: 16px;
  display: flex;
  width: 100%;
  object-fit: cover;
}

.delivery-card__inner {
  display: flex;
}

.delivery-card__middle {
  padding: 0 16px;
  min-height: 80px;
}

.delivery-card__name {
  margin-bottom: 12px;
}

.delivery-card__add {
  width: 42px;
  height: 42px;
  border: 2px solid #FED105;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
