.index-third {
  padding-bottom:70px;
}

.index-menu {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 40px;
  }
}

.index-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px 28px;
  margin: 0 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.398);
}

.index-menu__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
}

.delivery-bottom {
  display: block;
  margin: 0 auto;
  background: #FED105;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 32px;
  svg {
    margin-right: 15px;
  }
}

.index-menu__button, .menu-btn {
  background: #FED105;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 32px;
  svg {
    opacity: .4;
    margin-right: 15px;
  }
}

.index-menu__item {
  padding: 32px 80px 0px;
  background-color: transparent;
  transition: all .4s;
}

.menu-select {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.398);
  padding-bottom: 40px;
}

.menu-select__coll:first-child {
  width: 33%;
}

.menu-select__coll:last-child {
  width: 48%;
}

.menu-select__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #FED105;
  margin-bottom: 13px;
  transition: all .4s;
}

.menu-select__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #8E898F;
  margin-bottom: 24px;
}

.menu-select__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  transition: all .4s;
  svg {
    transition: all .4s;
    margin-right: 15px;
  }
}

.menu-select__wrapp {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.show-more {
  padding: 15px 32px;
  background: #000000;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-link--mod {
  display: none;
}

.food-selection {
  display: flex;
  justify-content: space-between;
}

.food-selection__item {
  width: 19%;
  &:last-child {
    pointer-events:none;
  }
}

.food-selection__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-selection__img {
  border-radius: 50%;
  &--more {
    filter: brightness(25%);
  }
}

.food-selection__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  &--sale {
    position: relative;
    transition: all .4s;
    &::before {
      content: "\0025";
      width: 26px;
      height: 26px;
      border-radius: 50%;
      position: absolute;
      font-family: Georgia;
      font-style: normal;
      font-weight: bold;
      font-size: 15.4px;
      color: #FFFFFF;
      background: #E91414;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 4px;
      right: 12px;

    }
  }
}


.food-selection__value {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.food-selection__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #FFFFFF;
  width: 92%;
  &--more {
    color: #FED105;
    margin-top: 20px;
  }
}

.index-menu__item:hover {
  cursor: url('../img/cursor.png');
  background-color: #fff;
  transition: all .4s;
  .menu-select__title {
    color: #000;
  }
  .menu-select__info {
    color: #000;
    transition: all .4s;
    svg path {
      transition: all .4s;
      fill: #000;
    }
  }
  .about-link--mod {
    display: flex;
  }
  .food-selection__title {
    color: #000;
    &--more {
      color: #FED105;
    }
  }
}

.food-selection__item:hover {
  transition: all .4s;
  .food-selection__wrapper {
    border: 3px solid #FED105;
    transition: all .4s;
  }
  .food-selection__title {
    color: #8E898F;
    transition: all .4s;
  }
}
