.index-second {
  margin-bottom: 150px;
}

.second-slider__slide {
  max-width: 290px;
  margin: 0 40px;
  position: relative;
  padding-bottom: 15px;
  outline: none;
}

.second-slider__wrapp {
  padding: 23px 0 68px 0;
  position: relative;
}

.second-slider__image {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
  object-fit: contain;
  &--mod {
    bottom: -24px;
  }
  &--mod2 {
    bottom: 3px;
  }
}

.second-slider__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.about-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #8E898F;
  display: flex;
  align-items: center;
  outline: none;
  transition: all .4s;
  svg {
    margin-left: 10px;
    transition: all .4s;
  }
  &:hover {
    color: #FFD300;
    svg path {
      transition: all .4s;
      fill: #FFD300;
    }
  }
}
