.select {
  position: relative;
  width: 160px;
  transition: all .4s;
  height: 37px;
  border-bottom: 1px solid #000;
}

.select.is-active .select__body {
  max-height: 500px;
  height: auto;
}

.select.is-active {
  .select__icon {
    transform: scaleY(-1);
  }
}

.select__header {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select__current {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  color: #000000;
}

.select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  height: 40px;
  margin-left: auto;
  text-align: center;
  width: 40px;
}

.select__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 20;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
}

.select__wrapp {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.select__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  padding: 8px;
  cursor: pointer;
}

.select__item:hover {
  background-color: #f2f2f2;
}

.select-bear__title {
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #000000;
  opacity: 0.5;
}
